#client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#client::before {
    content: "";
    background-image: url("img/clients/clients_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 260px;
    z-index: -2;
    opacity: 0.5;
}

.clients {
    display: flex;
    justify-content: center;
    height: 200px;
    flex-wrap: wrap;
}

.clients img {
    height: 100px;
    display: block;
    margin: auto 30px;
}